<%- include('../layout/ui_header.ejs') %>
<!-- Page Title -->
<div class="page-title-area page-title-four">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="page-title-item">
        <h2>About</h2>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <i class="icofont-simple-right"></i>
          </li>
          <li>About</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- About -->
<div class="about-area pt-100 pb-70">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6">
        <div class="about-item">
          <div class="about-left">
            <img src="assets/img/home-one/4.jpg" alt="About" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-item about-right">
          <img src="assets/img/home-one/5.png" alt="About" />
          <h2>About Our Hospital</h2>
          <p>
            Welcome to Delhi Hospital, a NABH Grade 2 certified multispecialty
            healthcare institution renowned for its pioneering expertise in
            orthopedics. Strategically located in the heart of haryana we have
            been committed to delivering exceptional healthcare services to our
            community. Our hospital stands out as a leader in orthopedic care,
            offering advanced treatments for joint replacements, fractures,
            spine surgeries, and sports injuries. Equipped with state-of-the-art
            facilities, including an in-house diagnostic lab and cutting-edge
            testing infrastructure, we ensure seamless and accurate care under
            one roof. Delhi Hospital is proud to be a part of the government
            healthcare panel, further extending our services to a wider
            demographic. Beyond orthopedics, we provide comprehensive care
            across multiple specialties, ensuring holistic treatment for
            patients of all ages. Our team of highly skilled doctors,
            compassionate nurses, and dedicated staff work tirelessly to deliver
            personalized treatment plans, ensuring each patient’s journey to
            recovery is smooth and efficient. At Delhi Hospital, your health is
            our priority. Together, let’s build a healthier
          </p>
          <ul>
            <li>
              <i class="icofont-check-circled"></i>
              Browse Our Website
            </li>
            <li>
              <i class="icofont-check-circled"></i>
              Choose Service
            </li>
            <li>
              <i class="icofont-check-circled"></i>
              Send Messege
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End About -->

<!-- Counter -->
<div class="counter-area counter-bg counter-area-four">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="counter-item">
          <i class="icofont-patient-bed"></i>
          <h3>
            <span class="odometer" data-count="850">00</span>
          </h3>
          <p>Patients Beds</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="counter-item">
          <i class="icofont-people"></i>
          <h3>
            <span class="odometer" data-count="2500">00</span>
            <span class="target">+</span>
          </h3>
          <p>Happy Patients</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="counter-item">
          <i class="icofont-doctor-alt"></i>
          <h3>
            <span class="odometer" data-count="750">00</span>
          </h3>
          <p>Doctors & Nurse</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="counter-item">
          <i class="icofont-badge"></i>
          <h3>
            <span class="odometer" data-count="18">00</span>
          </h3>
          <p>Year Experience</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Counter -->

<!-- Speciality -->
<section class="speciality-area pb-100">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-lg-7">
        <div class="speciality-left">
          <div class="section-title-two">
            <span>Speciality</span>
            <h2>Facility Available</h2>
          </div>
          <div class="speciality-item">
            <div class="row m-0">
              <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="speciality-inner">
                  <i class="icofont-check-circled"></i>
                  <h3>Child Care</h3>
                  <p>Lorem ipsum dolor sit amet, is consectetur adipiscing</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="speciality-inner">
                  <i class="icofont-check-circled"></i>
                  <h3>More Stuff</h3>
                  <p>Lorem ipsum dolor sit amet, is consectetur adipiscing</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="speciality-inner">
                  <i class="icofont-check-circled"></i>
                  <h3>Enough Lab</h3>
                  <p>Lorem ipsum dolor sit amet, is consectetur adipiscing</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="speciality-inner">
                  <i class="icofont-check-circled"></i>
                  <h3>24 Hour Doctor</h3>
                  <p>Lorem ipsum dolor sit amet, is consectetur adipiscing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pr-0">
        <div class="speciality-item speciality-right">
          <img src="assets/img/home-two/4.jpg" alt="Speciality" />
          <div class="speciality-emergency">
            <div class="speciality-icon">
              <i class="icofont-ui-call"></i>
            </div>
            <h3>Emergency Call</h3>
            <a href="tel:+07554332322">+07 554 332 322</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Speciality -->

<!-- Services -->
<section class="services-area pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Our Hospital Services</h2>
    </div>
    <div class="row justify-content-center">
      <% services.forEach((service) => { %>
      <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".3s">
        <div class="service-item">
          <div class="service-front">
            <!-- <i class="icofont-doctor"></i> -->
            <img
              height="50px"
              class="meet_doctor_img"
              src="/uploads/<%= service.servicesImage %>"
              alt="Services"
            />
            <h3><%= service.title %></h3>
            <p><%= service.description %></p>
          </div>
          <div class="service-end">
            <img
              height="50px"
              class="meet_doctor_img"
              src="/uploads/<%= service.servicesImage %>"
              alt="Services"
            />
            <h3><%= service.title %></h3>
            <p><%= service.description %></p>
            <a href="/service-details">Read More</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
<!-- End Services -->

<!-- Testimonials -->
<section class="testimonial-area ptb-100">
  <div class="container">
    <div class="testimonial-wrap">
      <h2>What our patient say</h2>

      <div class="testimonial-slider owl-theme owl-carousel">
        <% testimonials.forEach((testimonial)=>{ %>
        <div class="testimonial-item">
          <img height="100" width="100"
           src="/uploads/<%= testimonial.testimonialImage %>"
            alt="Testimonial"
          />
          <h3><%= testimonial.name %></h3>
          <p><%- testimonial.description %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials -->

<!-- Blog -->
<section class="blog-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Our Latest Blogs</h2>
    </div>
    <div class="row justify-content-center">
   <% blogs.slice(0,3).forEach((blog) => { %>
      <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
        <div class="blog-item">
          <div class="blog-top">
            <a href="/blog-details/<%= blog.id %>">
              <img  src="/uploads/<%= blog.blogImage %>" alt="Blog" />
            </a>
          </div>
          <div class="blog-bottom">
            <h3>
              <a href="/blog-details/<%= blog.id %>"> <%= blog.title %> </a>
            </h3>
            <p><%- blog.description %></p>
            <ul>
              <li>
                <a href="/blog-details/<%= blog.id %>">
                  Read More
                  <i class="icofont-long-arrow-right"></i>
                </a>
              </li>
              <li>
                <i class="icofont-calendar"></i>
                <%= new Date(blog.created).toLocaleDateString() %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<script src="assets/js/owl.carousel.min.js"></script>
<!-- Meanmenu JS -->
<script src="assets/js/jquery.meanmenu.js"></script>
<!-- Slider Slider JS -->
<script src="assets/js/slick.min.js"></script>
<!-- Magnific Popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Wow JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Form Ajaxchimp JS -->
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Odometer JS -->
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/jquery.appear.min.js"></script>
<!-- Custom JS -->
<script src="assets/js/custom.js"></script>
<%- include("../layout/ui_footer.ejs") %>
