<%- include('../layout/ui_header.ejs') %>
  <!-- Page Title -->
  <div class="page-title-area page-title-four">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="page-title-item">
          <h2>Service Details</h2>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <i class="icofont-simple-right"></i>
            </li>
            <li>Service Details</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Service Details -->
  <div class="service-details-area ptb-100">
    <div class="container">
      <div class="services-details-img">
        <img style="max-height: 350px;object-fit: contain;" src="/uploads/<%= service.servicesImage %>"
          alt="Service Details" />
        <h2>
          <%= service.title %>
        </h2>
        <p>
        <p>
          <%= service.description %>
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="service-details-inner-left">
            <img src="assets/img/signup-bg.jpg" alt="Service" />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="service-details-inner">
            <h2>We Always Put Patients First</h2>
            <p>
              Our dedicated team ensures that each patient receives personalized attention and care. From preventive
              health check-ups to complex surgeries, we focus on delivering healthcare solutions that meet individual
              needs. We prioritize patient comfort and safety, making sure every step of the treatment journey is as
              smooth as possible.
            </p>
            <p>
              Whether it’s routine consultations or emergency treatments, our hospital is equipped with cutting-edge
              technology and world-class facilities. We continually strive to enhance the quality of our services
              through innovation, research, and a relentless commitment to patient satisfaction.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Service Details -->


  <!-- Blog -->
  <section class="blog-area pt-100 pb-70">
    <div class="container">
      <div class="section-title">
        <h2>Our Latest Blogs</h2>
      </div>
      <div class="row justify-content-center">
        <% blogs.slice(0,3).forEach(blog => {%>
          <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
            <div class="blog-item">
              <div class="blog-top">
                <a href="/blog-details">
                  <img src="/uploads/<%= blog.blogImage %>" alt="Blog" />
                </a>
              </div>
              <div class="blog-bottom">
                <h3>
                  <a href="/blog-details"><%= blog.title  %></a>
                </h3>
                  <p>
                    <%= blog.description %>
                  </p>
                <ul>
                  <li>
                    <a href="/blog-details/<%= blog.id  %>">
                      Read More
                      <i class="icofont-long-arrow-right"></i>
                    </a>
                  </li>
                  <li>
                    <i class="icofont-calendar"></i>
                    <%= new Date(blog.created).toLocaleDateString() %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <%});  %>
      </div>

    </div>
  </section>
  <!-- End Blog -->

  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- Meanmenu JS -->
  <script src="assets/js/jquery.meanmenu.js"></script>
  <!-- Slider Slider JS -->
  <script src="assets/js/slick.min.js"></script>
  <!-- Magnific Popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- Wow JS -->
  <script src="assets/js/wow.min.js"></script>
  <!-- Form Ajaxchimp JS -->
  <script src="assets/js/jquery.ajaxchimp.min.js"></script>
  <!-- Form Validator JS -->
  <script src="assets/js/form-validator.min.js"></script>
  <!-- Contact JS -->
  <script src="assets/js/contact-form-script.js"></script>
  <!-- Odometer JS -->
  <script src="assets/js/odometer.min.js"></script>
  <script src="assets/js/jquery.appear.min.js"></script>
  <!-- Custom JS -->
  <script src="assets/js/custom.js"></script>
  <%- include("../layout/ui_footer.ejs") %>