<!-- Include the admin header -->
<%- include('./layout/admin_header.ejs') %>

<div class="container overflow-hidden">
  <div class="row">
    <div class="col-lg-12 my-3">
      <!-- Display any messages -->
      <% if (message) { %>
      <div
        class="alert d-flex justify-content-between alert-dismissible fade show alert-<%= message.type %>"
        role="alert"
      >
        <strong><%= message.message %></strong>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>

      <!-- Table for displaying all departments -->
      <div style="overflow-x: auto;">
        <table
          class="table table-bordered table-hover text-center align-middle"
        >
          <thead class="text-white table-dark">
            <tr>
              <th>ID</th>
              <th>Department Image</th>
              <th>Department Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through departments and display each -->
            <% departments.forEach((department, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td>
                <img
                  src="/uploads/<%= department.departmentImage %>"
                  alt="Department Image"
                  class="img-thumbnail"
                  style="width: 50px; height: 50px"
                />
              </td>
              <td><%= department.title %></td>
              <td class="text-truncate" style="max-width: 200px">
                <%= department.description %>
              </td>
              <td>
                <a
                  href="/admin/updateDepartment/<%= department._id %>"
                  class="btn btn-success btn-sm"
                >
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  href="/admin/deleteDepartment/<%= department._id %>"
                  class="btn btn-danger btn-sm"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include("./layout/admin_footer.ejs") %>
