<%- include('./layout/admin_header.ejs') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 my-3">
        <!-- Table for displaying all appointments -->
        <div>
          <table class="table table-bordered table-hover text-center align-middle">
            <thead class="text-white table-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Age</th>
                <th>Services</th>
                <th>Doctor</th>
                <th>Time and Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Loop through appointments and display each -->
              <% appointments.forEach((appointment, index)=> { %>
                <tr>
                  <td>
                    <%= index + 1 %>
                  </td>
                  <td>
                    <%= appointment.name %>
                  </td>
                  <td>
                    <%= appointment.email %>
                  </td>
                  <td>
                    <%= appointment.phone %>
                  </td>
                  <td>
                    <%= appointment.age %>
                  </td>
                  <td>
                    <%= appointment.services ? appointment.services : '' %>
                  </td>
                  <td>
                    <%= appointment.doctor ? appointment.doctor : '' %>
                  </td>
                  <td>
                    <!-- Format the created date -->
                    <%= new Date(appointment.created).toLocaleString() %>
                  </td>
                  <td>
                    <a href="/admin/deleteAppointments/<%= appointment._id %>" class="btn btn-danger btn-sm">
                      <i title="delete" class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('./layout/admin_footer.ejs') %>